{% extends 'book_app/base.html' %}
{% load rest_framework %}

{% block content %}

  <div class="container">
    <h3>Book:</h3>
    <h2>{{ book.name }}</h2>

    <form action="{% url 'book_detail_api' pk=book.pk %}" method="POST">
      {% csrf_token %}
      {% render_form serializer template_pack='rest_framework/vertical' %}
      <input type="submit" value="Save">
    </form>
  </div>

{% endblock %}