{% extends 'book_app/base.html' %}
{% load rest_framework %}

{% block content %}

  <div class="container">
    <div class="col-md-6">
    	<h1 style="padding-bottom:20px">Books list</h1>
      {% for b in book %}
        <div class="col-md-6">
          <h4>{{ b.name }}</h4>
          {% if b.author.all %}
            {% for a in b.author.all %}
              | {{ a }}
            {% endfor %}
          {% endif %}
        </div> 
        <div class="col-md-6">
          <a href="{% url 'book_detail_api' pk=b.pk %}" role="button" class="btn btn-default">Edit</a>
        </div>
        <div class="col-md-12"><hr></div>
      {% endfor %}
    </div>

    <div class="col-md-6">
      <h1 style="padding-bottom:20px">Authors list</h1>
      {% for a in author %}
        <div class="col-md-3">{{ a.name }}</div>
        <div class="col-md-9">
          <a href="{% url 'author_detail_api' pk=a.pk %}" role="button" class="btn btn-default">Edit</a>
        </div>
         <div class="col-md-12"><hr></div>
     {% endfor %}
     </div>
  </div>

{% endblock %}