{% extends 'book_app/base.html' %}

{% block content %}

  <div class="container">
    <div class="col-md-6">
    	<h1 style="padding-bottom:20px">Books list</h1>
      {% for b in book %}
        <div class="col-md-6">
          <h5>{{ b.name }}</h5>
          {% if b.author.all %}
            <p>
              {% for a in b.author.all %}
                | {{ a }}
              {% endfor %}
            </p>
          {% endif %}
        </div> 
        <div class="col-md-6">
          <a href="{% url 'book_update' pk=b.pk %}" role="button" class="btn btn-default">Edit</a>
          <a href="{% url 'book_delete' pk=b.pk %}" role="button" class="btn btn-default">Delete</a>
        </div>
        <div class="col-md-12">
          <p>
            {{ b.description }}
          </p>
          <hr>
        </div>
      {% endfor %}
      <div class="col-md-12">
        <a href="{% url 'book_create' %}" role="button" class="btn btn-default">New book</a>
      </div> 
    </div>

    <div class="col-md-6">
      <h1 style="padding-bottom:20px">Authors list</h1>
      {% for a in author %}
        <div class="col-md-3">
          {{ a.name }}
        </div>
        <div class="col-md-9">
          <a href="{% url 'author_update' pk=a.pk %}" role="button" class="btn btn-default">Edit</a>
          <a href="{% url 'author_delete' pk=a.pk %}" role="button" class="btn btn-default">Delete</a>
        </div>
        <div class="col-md-12">
          <hr>
        </div>
      {% endfor %}
      <div class="col-md-12">
        <a href="{% url 'author_create' %}" role="button" class="btn btn-default">New author</a>  
      </div>
    </div>
  </div>

{% endblock %}