{% extends 'book_app/base.html' %}

{% block content %}

  <div class="container">
    <h3>Book:</h3>
    <h2>{{ book.name }}</h2>

    <form action="" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Save">
    </form>
  </div>

{% endblock %}